* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.hero-section {
    background-image: url("assest/hero-meal.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.text-center.mb-5 {
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero .container {
  position: relative;
  z-index: 2;
}

.navbar-brand {
    color: white !important;
    font-size: 20px !important;
    font-family: 700 !important; 
}

.navbar-brand:hover {
    color: white !important;
}

a.nav-link {
    color: white !important;
    font-weight: 400;
    
}

a.nav-link:hover {
    color: rgb(186, 182, 182) !important;
}
